<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwi.hns.demo.mapper.SysUserPermMapper">
 
    <resultMap id="BaseUserPermResultMap" type="com.gwi.hns.demo.entity.SysUserPermEntity">
        <result column="userId" jdbcType="VARCHAR" property="userId" />
        <result column="roleId" jdbcType="VARCHAR" property="roleId" />
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    
    <!-- 获取 -->
    <select id="getUserPermByUserId" resultType="com.gwi.hns.demo.entity.SysUserPermEntity">
        select 
        	userId,permId,createTime,updateTime
        from 
        	sys_user_perm
        where
        	userId = #{userId};
    </select>
   
	<!-- 批量新增-->
	<insert id="batchInsertUserPerm" parameterType="java.util.List">
	    insert into sys_user_perm
	    (userId,permId,createTime,updateTime)
	    values
	    <foreach collection="list" item="item" separator=",">
	        (#{item.userId,jdbcType=VARCHAR},
	        #{item.permId,jdbcType=VARCHAR},
	        #{item.createTime,jdbcType=TIMESTAMP},
	        #{item.updateTime,jdbcType=TIMESTAMP})
	    </foreach>
	</insert>
	
	<!-- 根据用户id删除数据 -->
	<delete id="deleteByUserId"  parameterType = "java.lang.String">
	     delete from sys_user_perm where userId = #{userId}
	</delete>
</mapper>
